.overlay {
  width: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay__btn a {
  display: block;
}

.overlay__btn {
  position: absolute;
  top: 8%;
  left: 5%;
}

.modal {
  background: var(--secondary-color);
  border-radius: 12px;
  width: 440px;
  margin: 0 .5rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
}

.modal__footer {
  background: var(--soft-gray);
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
  line-height: 50px;
  font-size: .7rem;
  color: var(--black-text);
  display: block;
  cursor: pointer;
}

.form {
  margin-top: 1.5rem;
}

.form__head {
  text-align: center;
}

.form__head h1,
.form__head p {
  color: var(--black-text);
  margin: .6rem 0;
}

.form__head h1 {
  font-size: 1.8rem;
}

.form__head p {
  margin-bottom: 1.6rem;
}

.form__body {
  width: 250px;
  margin: auto;
}

.form__input {
  margin-bottom: .8rem;
}

.form__input input {
  outline: none;
  color: var(--soft-gray);
  padding: .6rem .8rem;
  border-radius: 4px;
  border: 1px solid var(--darker-gray);
}

.form__input input:focus,
.overlay__btn a:focus,
.btn__facebook:focus,
.btn__google:focus {
  box-shadow: 0 0 0 4px rgba(0,132,255,.5);
}

.form__body__buttons p {
  text-align: center;
  margin: .5rem 0;
  color: var(--black-text);
}

.form__footer {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  font-size: .7rem;
  color: var(--darker-gray);
}

.form__footer strong {
  color: var(--black-text);
  opacity: .7;
  font-weight: 600;
}

.form__footer a {
  display: block;
  margin: .8rem 0;
  font-size: .8rem;
}

.footer {
  position: absolute;
  bottom: 0;
  display: block;
  margin-top: 10px;
}

@media screen and (max-width: 350px)  {
  .modal {
    max-height: 95%;
  }
}
